## [泰坦尼克号问题](https://www.kaggle.com/c/titanic)
『Jack and Rose』的故事，豪华游艇倒了，大家都惊恐逃生，可是救生艇的数量有限，无法人人都有，副船长发话了『lady and kid first！』，所以是否获救其实并非随机，而是基于一些背景有rank先后的。<br>
训练和测试数据是一些乘客的个人信息以及存活状况，要尝试根据它生成合适的模型并预测其他人的存活状况。<br>
对，这是一个二分类问题，很多分类算法都可以解决。

## 1. 查看 train data

In [19]:
# 这个ipython notebook主要是我解决Kaggle Titanic问题的思路和过程

import pandas as pd #数据分析
import numpy as np #科学计算
from pandas import Series,DataFrame

data_train = pd.read_csv("Train.csv")
print data_train.columns

print "====== info : ======"
#data_train[data_train.Cabin.notnull()]['Survived'].value_counts()
data_train.info()

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')
====== info : ======
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

## 2. Age 数据缺失

In [20]:

# 我们这里用scikit-learn中的RandomForest来拟合一下缺失的年龄数据

from sklearn.ensemble import RandomForestRegressor
 
### 使用 RandomForestClassifier 填补缺失的年龄属性
def set_missing_ages(df):
    
    # 把已有的数值型特征取出来丢进Random Forest Regressor中
    age_df = df[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]

    # 乘客分成已知年龄和未知年龄两部分
    known_age = age_df[age_df.Age.notnull()].as_matrix()
    unknown_age = age_df[age_df.Age.isnull()].as_matrix()

    # y即目标年龄
    y = known_age[:, 0] ## Age ‘s value list

    # X即特征属性值
    X = known_age[:, 1:] ## Fare 的值 list

    # fit到RandomForestRegressor之中
    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(X, y)
    
    # 用得到的模型进行未知年龄结果预测
    predictedAges = rfr.predict(unknown_age[:, 1::])
    
    # 用得到的预测结果填补原缺失数据
    df.loc[ (df.Age.isnull()), 'Age' ] = predictedAges 
    
    return df, rfr

def set_Cabin_type(df):
    df.loc[ (df.Cabin.notnull()), 'Cabin' ] = "Yes"
    df.loc[ (df.Cabin.isnull()), 'Cabin' ] = "No"
    return df

data_train, rfr = set_missing_ages(data_train)
data_train = set_Cabin_type(data_train)
data_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,No,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,Yes,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,No,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,Yes,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,No,S
5,6,0,3,"Moran, Mr. James",male,23.828953,0,0,330877,8.4583,No,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,Yes,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,No,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,No,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,No,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,Yes,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,Yes,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,No,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,No,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,No,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,No,S
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,No,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,32.066493,0,0,244373,13.0000,No,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,No,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.518205,0,0,2649,7.2250,No,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,No,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,Yes,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,No,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,Yes,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,No,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,No,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.518205,0,0,2631,7.2250,No,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,Yes,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,22.380113,0,0,330959,7.8792,No,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,27.947206,0,0,349216,7.8958,No,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.000000,1,0,28134,11.5000,No,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,Yes,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,10.869867,8,2,CA. 2343,69.5500,No,S
864,865,0,2,"Gill, Mr. John William",male,24.000000,0,0,233866,13.0000,No,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.000000,0,0,236852,13.0000,No,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.000000,1,0,SC/PARIS 2149,13.8583,No,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,Yes,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,25.977889,0,0,345777,9.5000,No,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.000000,1,1,347742,11.1333,No,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.000000,0,0,349248,7.8958,No,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,Yes,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,Yes,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.000000,0,0,345765,9.0000,No,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000000,1,0,P/PP 3381,24.0000,No,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.000000,0,0,2667,7.2250,No,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.000000,0,0,7534,9.8458,No,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.000000,0,0,349212,7.8958,No,S
878,879,0,3,"Laleff, Mr. Kristo",male,27.947206,0,0,349217,7.8958,No,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,Yes,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,No,S
881,882,0,3,"Markun, Mr. Johann",male,33.000000,0,0,349257,7.8958,No,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.000000,0,0,7552,10.5167,No,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,No,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,No,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.000000,0,5,382652,29.1250,No,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,No,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,Yes,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,16.127950,1,2,W./C. 6607,23.4500,No,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,Yes,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,No,Q

In [17]:
data_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.647056,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.629946,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,21.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,36.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## 3. one-hot 编码

<font color=red>因为逻辑回归建模时，需要输入的特征都是数值型特征，我们通常会先对类目型的特征因子化/one-hot编码。 <font><br>
<font color=red>什么叫做因子化/one-hot编码？举个例子：<font><br>

<font color=red>以Embarked为例，原本一个属性维度，因为其取值可以是[‘S’,’C’,’Q‘]，而将其平展开为’Embarked_C’,’Embarked_S’, ‘Embarked_Q’三个属性<font><br>

* <font color=red>原本Embarked取值为S的，在此处的”Embarked_S”下取值为1，在’Embarked_C’, ‘Embarked_Q’下取值为0<font><br>
* <font color=red>原本Embarked取值为C的，在此处的”Embarked_C”下取值为1，在’Embarked_S’, ‘Embarked_Q’下取值为0<font><br>
* <font color=red>原本Embarked取值为Q的，在此处的”Embarked_Q”下取值为1，在’Embarked_C’, ‘Embarked_S’下取值为0<font><br>

<font color=red>我们使用pandas的”get_dummies”来完成这个工作，并拼接在原来的”data_train”之上，如下所示。<font><br>

In [22]:
# 因为逻辑回归建模时，需要输入的特征都是数值型特征
# 我们先对类目型的特征离散/因子化
# 以Cabin为例，原本一个属性维度，因为其取值可以是['yes','no']，而将其平展开为'Cabin_yes','Cabin_no'两个属性
# 原本Cabin取值为yes的，在此处的'Cabin_yes'下取值为1，在'Cabin_no'下取值为0
# 原本Cabin取值为no的，在此处的'Cabin_yes'下取值为0，在'Cabin_no'下取值为1
# 我们使用pandas的get_dummies来完成这个工作，并拼接在原来的data_train之上，如下所示
dummies_Cabin = pd.get_dummies(data_train['Cabin'], prefix= 'Cabin')

dummies_Embarked = pd.get_dummies(data_train['Embarked'], prefix= 'Embarked')

dummies_Sex = pd.get_dummies(data_train['Sex'], prefix= 'Sex')

dummies_Pclass = pd.get_dummies(data_train['Pclass'], prefix= 'Pclass')
df = pd.concat([data_train, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df

,PassengerId,Survived,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,1,0,22.000000,1,0,7.2500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,2,1,38.000000,1,0,71.2833,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,3,1,26.000000,0,0,7.9250,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,4,1,35.000000,1,0,53.1000,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
4,5,0,35.000000,0,0,8.0500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
5,6,0,23.828953,0,0,8.4583,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
6,7,0,54.000000,0,0,51.8625,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
7,8,0,2.000000,3,1,21.0750,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
8,9,1,27.000000,0,2,11.1333,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
9,10,1,14.000000,1,0,30.0708,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
10,11,1,4.000000,1,1,16.7000,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
11,12,1,58.000000,0,0,26.5500,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
12,13,0,20.000000,0,0,8.0500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
13,14,0,39.000000,1,5,31.2750,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
14,15,0,14.000000,0,0,7.8542,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
15,16,1,55.000000,0,0,16.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
16,17,0,2.000000,4,1,29.1250,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
17,18,1,32.066493,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
18,19,0,31.000000,1,0,18.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
19,20,1,29.518205,0,0,7.2250,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
20,21,0,35.000000,0,0,26.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
21,22,1,34.000000,0,0,13.0000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
22,23,1,15.000000,0,0,8.0292,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
23,24,1,28.000000,0,0,35.5000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
24,25,0,8.000000,3,1,21.0750,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
25,26,1,38.000000,1,5,31.3875,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
26,27,0,29.518205,0,0,7.2250,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
27,28,0,19.000000,3,2,263.0000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
28,29,1,22.380113,0,0,7.8792,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
29,30,0,27.947206,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,21.000000,1,0,11.5000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
862,863,1,48.000000,0,0,25.9292,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
863,864,0,10.869867,8,2,69.5500,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
864,865,0,24.000000,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
865,866,1,42.000000,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
866,867,1,27.000000,1,0,13.8583,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
867,868,0,31.000000,0,0,50.4958,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
868,869,0,25.977889,0,0,9.5000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
869,870,1,4.000000,1,1,11.1333,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
870,871,0,26.000000,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
871,872,1,47.000000,1,1,52.5542,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
872,873,0,33.000000,0,0,5.0000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
873,874,0,47.000000,0,0,9.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
874,875,1,28.000000,1,0,24.0000,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
875,876,1,15.000000,0,0,7.2250,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
876,877,0,20.000000,0,0,9.8458,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
877,878,0,19.000000,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
878,879,0,27.947206,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
879,880,1,56.000000,0,1,83.1583,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
880,881,1,25.000000,0,1,26.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
881,882,0,33.000000,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
882,883,0,22.000000,0,0,10.5167,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
883,884,0,28.000000,0,0,10.5000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
884,885,0,25.000000,0,0,7.0500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
885,886,0,39.000000,0,5,29.1250,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
886,887,0,27.000000,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
887,888,1,19.000000,0,0,30.0000,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
888,889,0,16.127950,1,2,23.4500,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
889,890,1,26.000000,0,0,30.0000,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
890,891,0,32.000000,0,0,7.7500,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

## 4. Feature Scaling
<font color=red>Age和Fare两个属性，乘客的数值幅度变化，scaling，其实就是将一些变化幅度较大的特征化到[-1,1]之内。<font>

In [23]:
# 接下来我们要接着做一些数据预处理的工作，比如scaling，将一些变化幅度较大的特征化到[-1,1]之内
# 这样可以加速logistic regression的收敛
import sklearn.preprocessing as preprocessing
scaler = preprocessing.StandardScaler()
age_scale_param = scaler.fit(df['Age'])
df['Age_scaled'] = scaler.fit_transform(df['Age'], age_scale_param)
fare_scale_param = scaler.fit(df['Fare'])
df['Fare_scaled'] = scaler.fit_transform(df['Fare'], fare_scale_param)
df

/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

,PassengerId,Survived,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Age_scaled,Fare_scaled
0,1,0,22.000000,1,0,7.2500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.561363,-0.502445
1,2,1,38.000000,1,0,71.2833,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.613182,0.786845
2,3,1,26.000000,0,0,7.9250,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-0.267727,-0.488854
3,4,1,35.000000,1,0,53.1000,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.392955,0.420730
4,5,0,35.000000,0,0,8.0500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.392955,-0.486337
5,6,0,23.828953,0,0,8.4583,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,-0.427102,-0.478116
6,7,0,54.000000,0,0,51.8625,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.787727,0.395814
7,8,0,2.000000,3,1,21.0750,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-2.029545,-0.224083
8,9,1,27.000000,0,2,11.1333,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-0.194318,-0.424256
9,10,1,14.000000,1,0,30.0708,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-1.148636,-0.042956
10,11,1,4.000000,1,1,16.7000,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-1.882726,-0.312172
11,12,1,58.000000,0,0,26.5500,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.081363,-0.113846
12,13,0,20.000000,0,0,8.0500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.708181,-0.486337
13,14,0,39.000000,1,5,31.2750,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.686591,-0.018709
14,15,0,14.000000,0,0,7.8542,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-1.148636,-0.490280
15,16,1,55.000000,0,0,16.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.861136,-0.326267
16,17,0,2.000000,4,1,29.1250,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,-2.029545,-0.061999
17,18,1,32.066493,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.177609,-0.386671
18,19,0,31.000000,1,0,18.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.099318,-0.285997
19,20,1,29.518205,0,0,7.2250,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.009459,-0.502949
20,21,0,35.000000,0,0,26.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.392955,-0.124920
21,22,1,34.000000,0,0,13.0000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.319546,-0.386671
22,23,1,15.000000,0,0,8.0292,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.075227,-0.486756
23,24,1,28.000000,0,0,35.5000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.120909,0.066360
24,25,0,8.000000,3,1,21.0750,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-1.589090,-0.224083
25,26,1,38.000000,1,5,31.3875,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.613182,-0.016444
26,27,0,29.518205,0,0,7.2250,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-0.009459,-0.502949
27,28,0,19.000000,3,2,263.0000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.781590,4.647001
28,29,1,22.380113,0,0,7.8792,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.533459,-0.489776
29,30,0,27.947206,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.124784,-0.489442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,21.000000,1,0,11.5000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,-0.634772,-0.416873
862,863,1,48.000000,0,0,25.9292,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.347272,-0.126345
863,864,0,10.869867,8,2,69.5500,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-1.378416,0.751946
864,865,0,24.000000,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,-0.414545,-0.386671
865,866,1,42.000000,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.906818,-0.386671
866,867,1,27.000000,1,0,13.8583,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.194318,-0.369389
867,868,0,31.000000,0,0,50.4958,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.099318,0.368295
868,869,0,25.977889,0,0,9.5000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.269350,-0.457142
869,870,1,4.000000,1,1,11.1333,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.882726,-0.424256
870,871,0,26.000000,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.267727,-0.489442
871,872,1,47.000000,1,1,52.5542,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.273863,0.409741
872,873,0,33.000000,0,0,5.0000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.246136,-0.547748
873,874,0,47.000000,0,0,9.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.273863,-0.467209
874,875,1,28.000000,1,0,24.0000,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.120909,-0.165189
875,876,1,15.000000,0,0,7.2250,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.075227,-0.502949
876,877,0,20.000000,0,0,9.8458,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.708181,-0.450180
877,878,0,19.000000,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.781590,-0.489442
878,879,0,27.947206,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.124784,-0.489442
879,880,1,56.000000,0,1,83.1583,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.934545,1.025945
880,881,1,25.000000,0,1,26.0000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,-0.341136,-0.124920
881,882,0,33.000000,0,0,7.8958,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.246136,-0.489442
882,883,0,22.000000,0,0,10.5167,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-0.561363,-0.436671
883,884,0,28.000000,0,0,10.5000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,-0.120909,-0.437007
884,885,0,25.000000,0,0,7.0500,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-0.341136,-0.506472
885,886,0,39.000000,0,5,29.1250,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.686591,-0.061999
886,887,0,27.000000,0,0,13.0000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,-0.194318,-0.386671
887,888,1,19.000000,0,0,30.0000,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,-0.781590,-0.044381
888,889,0,16.127950,1,2,23.4500,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,-0.992425,-0.176263
889,890,1,26.000000,0,0,30.0000,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,-0.267727,-0.044381
890,891,0,32.000000,0,0,7.7500,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.172727,-0.492378

## 5. 取feature建模
我们把需要的feature字段取出来，转成numpy格式，使用scikit-learn中的LogisticRegression建模。

In [25]:
# 我们把需要的feature字段取出来，转成numpy格式，使用scikit-learn中的LogisticRegression建模
from sklearn import linear_model

train_df = df.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
train_np = train_df.as_matrix()

# y即Survival结果
y = train_np[:, 0]

# X即特征属性值
X = train_np[:, 1:]

# fit到RandomForestRegressor之中
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
clf.fit(X, y)
    
clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=1e-06,
          verbose=0, warm_start=False)

In [26]:
X.shape

(891, 14)

## 6.  test sets 一样的操作，LR出结果
接下来咱们对训练集和测试集做一样的操作

In [30]:
data_test = pd.read_csv("test.csv")
data_test.loc[ (data_test.Fare.isnull()), 'Fare' ] = 0
# 接着我们对test_data做和train_data中一致的特征变换
# 首先用同样的RandomForestRegressor模型填上丢失的年龄
tmp_df = data_test[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]
null_age = tmp_df[data_test.Age.isnull()].as_matrix()
# 根据特征属性X预测年龄并补上
X = null_age[:, 1:]
predictedAges = rfr.predict(X)
data_test.loc[ (data_test.Age.isnull()), 'Age' ] = predictedAges

data_test = set_Cabin_type(data_test)
dummies_Cabin = pd.get_dummies(data_test['Cabin'], prefix= 'Cabin')
dummies_Embarked = pd.get_dummies(data_test['Embarked'], prefix= 'Embarked')
dummies_Sex = pd.get_dummies(data_test['Sex'], prefix= 'Sex')
dummies_Pclass = pd.get_dummies(data_test['Pclass'], prefix= 'Pclass')


df_test = pd.concat([data_test, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df_test.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df_test['Age_scaled'] = scaler.fit_transform(df_test['Age'], age_scale_param)
df_test['Fare_scaled'] = scaler.fit_transform(df_test['Fare'], fare_scale_param)
df_test

test = df_test.filter(regex='Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
predictions = clf.predict(test)
result = pd.DataFrame({'PassengerId':data_test['PassengerId'].as_matrix(), 'Survived':predictions.astype(np.int32)})
result.to_csv("logistic_regression_predictions.csv", index=False)

/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Library/Python/2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [31]:
pd.read_csv("logistic_regression_predictions.csv")

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         1
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

<font color=red>0.76555，恩，结果还不错。毕竟，这只是我们简单分析过后出的一个baseline系统嘛</font>